<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2>Geometry</h2>
                <div class="input-container">
                    <label for="structure-options">Structure</label>
                    <select id="structure-options" name="structure">
                        <option value="beam">Beam</option>
                        <option value="slab">Slab</option>
                        <option value="column">Column</option>
                        <option value="wall">Wall</option>
                    </select>
                </div>
                <div class="input-container">
                    <label for="section-options">Section</label>
                    <select id="section-options" name="section"></select>
                </div>
                <div class="input-container">
                    <label id="width-label" for="width">Width</label>
                    <input type="text" id="width" name="width" placeholder="500">
                    <span class="unit">mm</span>
                </div>
                <div class="input-container">
                    <label for="depth">Depth</label>
                    <input type="text" id="depth" name="depth" placeholder="600">
                    <span class="unit">mm</span>
                </div>
                <div class="input-container">
                    <label for="web">Web</label>
                    <input type="text" id="web" name="web" placeholder="200">
                    <span class="unit">mm</span>
                </div>
                <div class="input-container">
                    <label for="flange">Flange</label>
                    <input type="text" id="flange" name="flange" placeholder="300">
                    <span class="unit">mm</span>
                </div>
                <div class="input-container">
                    <label for="cover">Cover</label>
                    <input type="text" id="cover" name="cover" placeholder="40">
                    <span class="unit">mm</span>
                </div>
                <h2>Reduced moment</h2>
                <p>
                    <span id="latex-expression">\( 25\%\,b\,h^2\,f_{cd} \) :</span>
                    <span id="result"></span>
                    <span class="unit">kNm</span>
                </p>
            </div>
            <div class="column">
                <h2>Reinforcement</h2>
                <div class="tag-input-container">
                    <label for="tagInput">Top reinforcement</label>
                    <div class="tag-container" data-name="tags_top">
                        <input type="text" class="tagInput" placeholder="Type 3H12 or H20@100 and press Enter...">
                    </div>
                    <input type="hidden" name="tags_top">
                </div>
                <div class="tag-input-container">
                    <label>Bottom reinforcement</label>
                    <div class="tag-container" data-name="tags_bottom">
                        <input type="text" class="tagInput" placeholder="Type 5H16 or H20@100 and press Enter...">
                    </div>
                    <input type="hidden" name="tags_bottom">
                </div>
                <div class="graph-container">
                    <div id="graph-container-1"></div>
                </div>
                <h2>Minimum reinforcement</h2>
                <div class="input-container">
                    <label for="spinner-input">Diameter</label>
                    <div class="spinner-container">
                        <button type="button" class="spinner-btn" id="decrease-btn">−</button>
                        <input type="number" id="spinner-input" min="8" max="40" step="1" value="8">
                        <button type="button" class="spinner-btn" id="increase-btn">+</button>
                    </div>
                </div>
                <div class="output-container">
                    <label>Top</label>
                    <span id="minimum-top" class="output-tag">3H12</span>
                    <span id="minimum-top-comment" class="comment">To be added</span>
                </div>
                <div class="output-container">
                    <label>Bottom</label>
                    <span id="minimum-bottom" class="output-tag"></span>
                    <span id="minimum-bottom-comment" class="comment">Already satisfied</span>
                </div>
                <div class="output-container">
                    <label>Side</label>
                    <span id="minimum-side" class="output-tag"></span>
                    <span id="minimum-side-comment" class="comment">Informative</span>
                </div>
            </div>
            <div class="column">
                <h2>Required resistance</h2>
                <div class="input-container">
                    <label>N</label>
                    <input type="text" id="axial" name="axial" placeholder="0">
                    <span class="unit">kN</span>
                </div>
                <div class="input-container">
                    <label>M</label>
                    <input type="text" id="moment" name="moment" placeholder="0">
                    <span class="unit">kNm</span>
                </div>
                <div class="input-container">
                    <label>Q</label>
                    <input type="text" id="shear" name="shear" placeholder="0">
                    <span class="unit">kN</span>
                </div>
                <h2>Additional reinforcement</h2>
                <div class="output-container">
                    <label>Top</label>
                    <div class="spinner-container">
                        <button type="button" class="spinner-btn" id="decrease-btn">−</button>
                        <input type="hidden" name="additional-top">
                        <span id="additional-top" class="output-tag">3H20</span>
                        <button type="button" class="spinner-btn" id="increase-btn">+</button>
                    </div>
                </div>
                <div class="output-container">
                    <label>Bottom</label>
                    <div class="spinner-container">
                        <button type="button" class="spinner-btn" id="decrease-btn">−</button>
                        <input type="hidden" name="additional-bottom">
                        <span id="additional-bottom" class="output-tag">3H20</span>
                        <button type="button" class="spinner-btn" id="increase-btn">+</button>
                    </div>
                </div>
                <div class="output-container">
                    <label>Shear</label>
                    <div class="spinner-container">
                        <button type="button" class="spinner-btn" id="decrease-btn">−</button>
                        <input type="hidden" name="additional-shear">
                        <span id="additional-shear" class="output-tag">3H20</span>
                        <button type="button" class="spinner-btn" id="increase-btn">+</button>
                    </div>
                </div>
                <div class="graph-container">
                    <div id="graph-container-2"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/tagInput.js"></script>
    <script src="/static/js/spinnerInput.js"></script>
    <script src="/static/js/csection.js"></script>
</body>
</html>
