<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="input-container">
                    <label for="options">Structure</label>
                    <select id="options">
                        <option value="opt1">Beam</option>
                        <option value="opt2">Column</option>
                        <option value="opt3">Wall</option>
                        <option value="opt4">Slab</option>
                    </select>
                </div>
                <div class="input-container">
                    <label for="options">Section</label>
                    <select id="options">
                        <option value="opt1">Rectangular</option>
                        <option value="opt2">T-section</option>
                        <option value="opt3">Hollow section</option>
                        <option value="opt3">Circular</option>
                    </select>
                </div>
                <div class="input-container">
                    <label for="input1">Width</label>
                    <input type="text" id="input1" name="width" placeholder="500">
                    <span class="unit">mm</span>
                </div>
                <div class="input-container">
                    <label for="input2">Depth</label>
                    <input type="text" id="input2" name="depth" placeholder="600">
                    <span class="unit">mm</span>
                </div>
                <div class="input-container">
                    <label for="input3">Covering</label>
                    <input type="text" id="input3" name="covering" placeholder="40">
                    <span class="unit">mm</span>
                </div>
                <p><span id="latex-expression">\( 25\%bh^2f_{cd} \)</span> :<span id="result"></span></p>
            </div>
            <div class="column">
                <div class="tag-input-container">
                    <label for="tagInput">Top reinforcement:</label>
                    <div class="tag-container" data-name="tags_top">
                        <input type="text" class="tagInput" placeholder="Type 3H12 or H20@100 and press Enter...">
                    </div>
                    <input type="hidden" name="tags_top">
                </div>
                <div class="tag-input-container">
                    <label>Bottom reinforcement:</label>
                    <div class="tag-container" data-name="tags_bottom">
                        <input type="text" class="tagInput" placeholder="Type 5H16 or H20@100 and press Enter...">
                    </div>
                    <input type="hidden" name="tags_bottom">
                </div>
            </div>
            <div class="column results">
                <h3>Results</h3>
                <div class="graph-container">
                    <div id="graph-container-1"></div>
                    <div id="graph-container-2"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/tagInput.js"></script>
    <script src="/static/js/csection.js"></script>
</body>
</html>
